@font-face {
    font-family: "Euclid-Circular-Bold";
    src: url("../../public/fonts/EuclidCircularBold.ttf")
}


@font-face {
    font-family: "Euclid-Circular-Medium";
    src: url("../../public/fonts/EuclidCircularMedium.ttf")
}



@font-face {
    font-family: "Euclid-Circular-Regular";
    src: url("../../public/fonts/EuclidCircularRegular.ttf")
}